@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');
.App{
    font-family: 'Poppins', sans-serif;
    background-color: rgb(237, 237, 237);
    margin:0;
    padding: 0;
}

.container{
    background-color: rgb(255, 255, 255);
    text-align: center;
    width: 30rem;
    height: 35rem;
    margin-top: 30px;
    border-radius: 10px;
    display:flexbox;
}
.animation{
    width: 60%;
    height:50%;
    margin-left:auto;
    margin-right:auto;
}
@media screen and (max-width: 480px)  {
    .container{
    width:90%;
    height:40rem;
    margin-top: 120px;
    }
    .title{
        margin-top:3rem;
        padding-top:1rem;
        font-weight:600;
        font-size:100px;
    }
    .next-button{
        width: 60px;
        height:60px;
        margin-top: 40px;
    }
    .register-now-button{
        margin-top:30px;
        width: 15rem;
    }
    .mission{
        font-size:13px;
    }
    .bene-hr{
        width:30px;
    }
    .animation{
        width:auto
    }
}
.register-now-button{
    background: orange;;
    width:11rem;
    height:3rem;
    border-radius: 10px;
    color: white;
}
.title{
    padding-top:10%;
    font-weight:600;
    font-size:x-large;
}
.welcome-content{
    color: 4E4949;
    font-family: 'Roboto', sans-serif;
    margin:13px 40px 10px 40px;
    color:grey;
    font-size: small;
}

.next-button{
    background-color: black;
    width: 50px;
    height: 50px;
    color:white;
    font-size: small;
    display:flex;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    margin-left:80%;
    position: relative;
    bottom:0.5%;
}


/* Mission Page Styling */
.mission-title{
    font-weight: 600;
    font-size:xx-large;
    padding-top: 10%;
}
.mission-container{
    background-color: #FFECDB;
}
hr{
    margin-left: auto;
    margin-right: auto;
    width:13rem;
    height:0.4rem;
    margin-top: 2px;
    background-color: orange;
}
.missions{
    margin:13px 40px 10px 40px;
}
.text-orange{
    color:orange;
    font-weight: 600;
}
.mission{
    padding-top:1rem;
    padding-bottom: 0.7rem;
    font-size: 14px;
}

/* Benefits page styling */

.bene-hr{
    position: relative;
    right:40px;
width:19rem;
}

.y-benefits{
    margin:13px 40px 10px 40px;

}
.benefits-title{
    padding-left: 3rem;
    font-size: xx-large;
    text-align: left;
}
.benefit{
    font-size: large;
    margin-top:20px;
    text-align: left;
}
.procedure-title{
    font-size:x-large ;
    text-align: left;
    font-weight: 600;
    margin-left: 10%;
    padding-top: 30px;
}
.step-box{
    margin-top: 30px;
    display: flex;
    background-color: rgb(251, 232, 196);
    color: orange;
    height:40px;
}
.step-number-u{
font-weight: 700;
font-size: x-large;
margin-left:10%;
margin-top: 1.2%;
}
.arrow-right-icon{
    margin-left: 50%;
    margin-top:1.5%;
}
.step-box:hover{
    background-color: black;
    color:rgb(245, 245, 245);
    border: 30px rgb(210, 210, 210);
}
.step-number-h{
    font-size: x-large;
    color: orange;
    margin-left: 10%;
}
.step-title{
    font-size: large;
    margin-left: 5%;
    margin-top: 1%;
}